<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/plugin/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/plugin/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/plugin/adminte/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <div th:replace="admin/fragment/preloader::preloader"></div>
        <div th:replace="admin/fragment/header::admin_header"></div>
        <div th:replace="admin/fragment/aside::admin_aside"></div>
        <div class="content-wrapper">
            <div layout:fragment="content"></div>
        </div>
        <div th:replace="admin/fragment/footer::admin_footer"></div>
    </div>

<script src="/plugin/jquery/jquery.min.js"></script>
<script src="/plugin/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/plugin/adminte/js/adminlte.min.js"></script>
<script src="/plugin/font-awesome/js/pro.min.js"></script>
</body>
</html>
