<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/public/plugin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/plugin/font-awesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/public/plugin/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" type="text/css" href="/public/plugin/adminte/css/adminlte.min.css">
<!--    import your global css here-->
</head>
<body class="hold-transition sidebar-mini layout-fixed text-sm">
    <div class="wrapper">
        <div th:replace="admin/fragments/preloader::preloader"></div>
        <div th:replace="admin/fragments/navbar::admin_navbar"></div>
        <div th:replace="admin/fragments/aside::admin_aside"></div>
        <div class="content-wrapper">
            <div layout:fragment="content"></div>
        </div>
        <div th:replace="admin/fragments/footer::admin_footer"></div>
    </div>

<script src="/public/plugin/jquery/jquery.min.js"></script>
<script src="/public/plugin/jquery-ui/jquery-ui.min.js"></script>
<script>
    $.widget.bridge('uibutton', $.ui.button)
</script>
<script src="/public/plugin/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/public/plugin/adminte/js/adminlte.min.js"></script>
<script src="/public/plugin/font-awesome/js/pro.min.js"></script>
<div layout:fragment="footer_import"></div>
<!--import your global javascript here-->
</body>
</html>
